#version=1.1
#URL=https://github.com/tailscale-dev/ScaleTail
#COMPOSE_PROJECT_NAME= # Optional: only use when running multiple deployments on the same infrastructure.

# Service Configuration
SERVICE=n8n
IMAGE_URL=docker.n8n.io/n8nio/n8n:stable
TAILNET_NAME=

# Network Configuration
SERVICEPORT=5678 # N8N default port
DNS_SERVER=9.9.9.9

# Tailscale Configuration
TS_AUTHKEY=

# Optional Service variables
# PUID=1000

# N8N Configuration variables
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

POSTGRES_NON_ROOT_USER=
POSTGRES_NON_ROOT_PASSWORD=

N8N_ENCRYPTION_KEY=

TZ=Europe/London