name: Perform markdown linting
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this repo
        uses: actions/checkout@v6
      
      - name: Markdown Linting
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: "./.markdownlint.yml"
          globs: "./services/**/*.md"
          fix: true
